.lyrics-container {
    background: var(--bgcolor2);
    line-height: 2.5rem;
    font-size: 0.95rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}


.lyrics-content {
    overflow-y: auto;
    flex: 1;
    padding: 16px;
}

.lyrics-content[data-is-time-information="true"] {
    .lyric-row {
        opacity: 0.5;
        transition: opacity 0.2s ease, font-size 0.2s ease;
    }

    .lyric-row[data-is-current-lyric="true"] {
        font-size: 1.2rem;
        font-weight: bold;
        opacity: 1;
    }
}