.container[data-background-playing="true"] {
    position: fixed;
    z-index: 97;
    bottom: 0;
    right: 0;
    width: 24em;
    margin: 16px;
    
    .player-video-container {
        border-radius: var(--radius) var(--radius) 0 0;
    }

    .watch-container {
        --page-padding: 0%;
    }

    .watch-container-grid {
        grid-template: "vid" 1fr / 1fr;
        min-width: 0;
    }

    .watch-container-grid > :not(.player-container) {
        display: none;
    }

    .playercontroller-container {
        margin-top: 0;
    }

    .player-container[data-player-type="default"] .playercontroller-container, .player-container[data-player-type="classic"] .playercontroller-container {
        padding: 8px;
        padding-bottom: 0;
    }

    .player-container[data-player-type="shinjuku"] .playercontroller-container-left {
        display: flex;
    }
    
    .playercontroller-container-left {
        display: none;
    }

    .playercontroller-container-right {
        display: none;
    }

    .commentinput-container {
        display: none;
    }

    .endcard-container > div {
        display: none;
    }

    .player-container {
        backdrop-filter: var(--backdrop-blur-normal);
        box-shadow: 0 0 8px #000a;
        background: rgb(from var(--bgcolor1) r g b / 90%);
        padding: 0;
        border-radius: var(--radius);
    }

    .vefx-container, .playersettings-container {
        display: none;
    }
}