.playlist-container {
    overflow: hidden;
    height: 100%;
    background: var(--bgcolor2);

    // border-radius: var(--radius);
    display: flex;
    flex-direction: column;

    // border: var(--border);
    position: relative;
}

.playlist-items-container {
    overflow: hidden auto;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.playlist-droppable-area-upper {
    min-height: 8px;
}

.playlist-droppable-area-lower {
    flex: 1;
    min-height: 8px;
}

.playlist-nothinghere {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    p {
        padding: 4px 16px;
    }
}

.playlist-dropavailablehint {
    position: absolute;
    inset: 0;
    background: #fffa;
    border-radius: var(--radius);
    color: #000a;
    padding: 16px;
    text-align: center;
}

.playlist-items-container[data-is-removemode="true"] .info-card-marker-index {
    display: none;
}

.playlist-items-container .info-card {
    gap: 8px;
    padding: 8px;
    border-radius: 0;
    border-bottom: var(--border);
}

.playlist-items-container .info-card[data-nowplaying="true"] {
    box-shadow: 0 0 4px #000a;
    background: var(--bgcolor1);
}