.watch-container-rightaction {
    .stacker-wrapper {
        flex: 1;
        //overflow: hidden;
        position: relative;
        //min-height: 640px;
    }
    .stacker-container {
        //overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .stacker-content {
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: var(--radius);
            border: var(--border);
            border-top: none;
            box-shadow: var(--box-shadow);
            .stacker-title {
                //box-shadow: 0px 0px 8px #000;
                border-bottom: 1px solid var(--accent1);
                gap: 4px;
                padding: 0 0.8rem;
                min-height: 2.8rem;
                max-height: 2.8rem;
                align-items: center;
                position: relative;
                z-index: 2;
                background: var(--bgcolor2);
                button {
                    background: transparent;
                    border: none;
                    color: var(--textcolor3);
                    padding: 4px 6px;
                    cursor: pointer;
                    border-radius: var(--radius);
                    padding: 4px 5px;
                    transition: var(--transition-normal);
                    svg {
                        height: 1.8em;
                        width: 1.8em;
                        vertical-align: middle;
                    }
                    &:hover {
                        opacity: 1;
                        background: var(--hover1);
                    }
                    &[data-isenabled="true"] {
                        background: var(--textcolor2);
                        color: var(--bgcolor1);
                    }
                    &[aria-disabled="true"] {
                        opacity: 0.2
                    } 
                }
            }
        }
    }
    .stacker-tabbutton-container {
        display: flex;
        gap: 0.25rem;
        margin: 0 calc(var(--radius) + 0.25rem);
        position: relative;
        //bottom: calc(var(--border-width) * -1);
        z-index: 1;
        .stacker-tabbutton {
            background: var(--accent1);
            color: var(--textcolor1);
            border: var(--border);
            padding: 4px 8px;
            border-radius: var(--radius) var(--radius) 0 0;
            cursor: pointer;
            font-size: 0.9em;
            line-height: 1.5rem;
            align-self: end;
            flex: 1;
            border-bottom: transparent;
            box-shadow: var(--box-shadow);
            transition: var(--transition-normal);
        }

        .stacker-tabbutton:hover {
            background: var(--hover1);
        }

        .stacker-tabbutton.stacker-tabbutton-active {
            background: var(--bgcolor2);
            font-weight: bold;
            font-size: 1em;
            border-top: 2px solid var(--linktext3);
        }
    }
}

.playersettings-container {
    .stacker-tabbutton {
        background: transparent;
        color: #fff;
        border: none;
        font-size: 1rem;
        flex: 1;
        border-bottom: 2px solid #fff5;
        transition: var(--transition-normal);
    }

    .stacker-tabbutton-container {
        display: flex;
    }

    .stacker-tabbutton.stacker-tabbutton-active {
        color: #0af;
        font-weight: bold;
        border-bottom-color: #0af;
    }

    .stacker-tabbutton:hover {
        background: #fff2;
    }
}