.video-timeline-date-title {
    border-bottom: 2px solid var(--bgcolor3);
    font-weight: bold;
    margin-bottom: 8px;
}

.video-timeline-activity-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-timeline-activity-message-container {
    display: grid;
    grid-template-areas: "img own" "img msg";
    grid-template-columns: 3em 1fr;
    gap: 0 0.5em;
    margin-bottom: 8px;
}

img.video-timeline-activity-icon {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: img;
    border-radius: var(--radius);
    background: var(--bgcolor1)
}

.video-timeline-activity-message-actor {
    grid-area: own;
    font-size: 1rem;
}

.video-timeline-activity-message {
    grid-area: msg;
    opacity: 0.8;
}

.video-timeline-activity {
    padding: 8px;
    border: var(--border);
    border-radius: var(--radius);
}

.recommend-content {
    margin-right: 4px;
}

.video-timeline-activity .info-card {
    margin-bottom: 0 !important;
}

.watch-container[use-card-recommend="true"] {
    .recommend-content:has(.video-timeline-container) {
        display: block;
    }

    .recommend-content .video-timeline-container {
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .video-timeline-activity-container {
        display: grid;
        font-size: 0.9em;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        overflow: hidden;
        grid-template-columns: repeat(auto-fill, 1fr);
        white-space: nowrap;
        gap: 8px;
        padding: 0px 8px;
        border-left: 1px solid var(--bgcolor2);
        .info-card {
            height: auto;
            margin: auto;
            width: auto;
        }
    }

    .video-timeline-date-title {
        border-left: 2px solid var(--bgcolor3);
        padding-left: 8px
    }

    .video-timeline-activity {
        border-radius: var(--radius-mini);
    }

    .video-timeline-activity-message-container {
        margin-right: 8px;
        margin-bottom: 4px;
    }
}
