.player-errorscreen-wrapper {
    z-index: 1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.867);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-errorscreen {
    border: var(--border);
    border-radius: var(--radius);
    width: 80%;
    padding: 2%;
}

.player-errorscreen-title {
    margin: 0;
    margin-bottom: 0.5rem;
}