.player-background-controller {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 0 8px !important;
    padding: 8px;

    .navbar-background-player-title-subtitle {
        font-size: 0.9rem;
        grid-row: 1/2;
    }

    .navbar-background-player-title {
        text-align: left;
        flex: 1;
    }

    button {
        grid-row: 1/ 3;
        background: transparent;
        color: var(--textcolor1);
        border: none;
        transition: var(--transition-normal);
        cursor: pointer;
        padding: 8px;
        border-radius: 1024px;

        &:hover {
            background: var(--hover1);
        }

        svg {
            vertical-align: middle;
        }
    }

    .cd-marquee-wrapper {
        min-width: 0;
    }
}