.player-background-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-background-player-title-subtitle {
        font-size: 0.9rem;
    }

    .navbar-background-player-title {
        text-align: center;
    }

    button {
        background: transparent;
        color: var(--textcolor1);
        border: none;
        border-radius: var(--radius);
        transition: background 0.2s ease;
        padding: 8px;
        cursor: pointer;
        padding: 8px;
        border-radius: 1024px;
        &:hover {
            background: var(--hover1);
        }
        svg {
            vertical-align: middle;
        }
    }
}



