.player-container {
    padding: 8px;
    background: var(--bgcolor2);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    position: relative;
    border: var(--border);
    box-shadow: var(--box-shadow);
}
.player-video-container {
    flex-grow: 1;
    width: 100%;
    //max-height: 100%;
    //height: 100%;
    overflow: hidden;
}
.player-video-container-inner {
    aspect-ratio: 16 / 9;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #000;
    video {
        display: block;
        width: 100%;
        height: 100%;
        /* display: none; */
        position: absolute;
        filter: contrast(1); // Chromiumでなぜかスケーリング品質がよくなる
    }
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        top: 0;
        left: 0;
        pointer-events: none;
        aspect-ratio: 16 / 9;
        display: block;
    }
    .player-commentvideo-pip[data-disabled="true"] {
        display: none;
        pointer-events: none;
    }
}


.player-video-container-inner .videotitle-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: linear-gradient(#000a 85%, #0000);
    padding: 16px;
    padding-bottom: 32px;
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: left;
    backdrop-filter: blur(2px);
    .videotitle {
        font-weight: bold;
        font-size: 1.2rem;
    }
}
.player-container[data-is-cursor-stopped="false"]:hover .player-video-container-inner .videotitle-container {
    opacity: 1
}

.player-video-loading-container {
    width: 100%;
    height: 100%;
    position: absolute;
    --loading-blur: 16px;
    img.player-video-loading-thumbnail {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        opacity: 0.5;
        position: absolute;
        filter: blur(var(--loading-blur));
    }
    .player-video-loading-text {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 16px;
        padding: 8px 16px;
        font-size: 1.25rem;
        background: #000a;
        color: #fff;
        border-radius: 8px;
    }
    .player-video-loading-text-container {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        font-size: 1.25rem;
        opacity: 0.8;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
    }
    .player-video-loading-text-title {
        font-weight: bold;
        font-size: 1.5rem;
    }
    &.player-loading-transition {
        &-exit-active {
            --loading-blur: 32px;
            transition: --loading-blur 0.1s ease, opacity 0.1s ease;
        }
        &-enter, &-exit-active {
            opacity: 0;
        }
        &-enter-done, &-enter-active {
            opacity: 1;
        }
    }
}

.player-bottom-container {
    opacity: 1;
    transition: opacity 0.3s ease;
    > div {
        margin-left: auto;
        margin-right: auto;
    }
}

.container[data-background-playing="false"] .player-container[data-is-integrated-controller="true"] .playercontroller-container {
    position: absolute;
    left: 8px;
    right: 8px;
    background: linear-gradient(0deg, #000a 80%, #0000);
    bottom: calc(0.9em + 32px + 5px);
    padding: 4px;
    z-index: 60;
    padding-top: 16px;
    opacity: 1;
    transition: opacity 0.3s ease;
    --bgcolor1: #000a;
    --bgcolor2: #1a1a1aef;
    --bgcolor3: #3a3a3aaf;
    --bgcolor4: #6a6a6aaf;
    --accent1: #1e1e1eaf;
    --accent2: #2a2a2aaf;
    --hover1: #404040af;
    --hover2: #5a5a5aaf;
    --textcolor1: #fff;
    --textcolor2: #ddd;
    --textcolor3: #aaa;
}

// 非フルスクリーンもしくは非ダイナミックコントローラー時に、動画要素の上でカーソルが動いていない場合は半透明。
// 非ホバー時は適用しない。また、後ろに書いたopacityによってオーバーライドする場合もある
.player-container[data-is-cursor-stopped="true"]:hover .player-bottom-container:not(:hover) {
    opacity: 0.5; 
}

.player-container[data-is-integrated-controller="true"][data-is-cursor-stopped="true"] .playercontroller-container:not(:hover) {
    opacity: 0 !important; 
}

.player-container[data-is-integrated-controller="true"] {
    .playersettings-container, .vefx-container {
        bottom: 80px;
    }
}

.fullscreen [data-is-bigview="false"] {
    .player-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 0;
        align-items: center;
        overflow: hidden;
        background: var(--bgcolor1);
        z-index: 200;
        border: none;
        border-radius: 0;
    }
    .playercontroller-container {
        width: 70vw;
        min-width: 800px;
        margin: 8px 32px;
    }
    .player-container[data-is-dynamic-controller="true"] {
        .player-bottom-container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 8px;
            background: linear-gradient(0deg, #000a 80%, #0000);
            padding-top: 32px;
            z-index: 30;
            opacity: 0 !important; // フルスクリーンでダイナミック表示時にカーソルが動いていない
        }
        .player-bottom-container > div {
            margin-left: auto;
            margin-right: auto;
        }
        .playersettings-container, .vefx-container {
            bottom: 150px;
        }
    }

    // フルスクリーンでダイナミック表示時にカーソルが動いている場合、もしくはホバーされている場合、もしくはコメントリストなどにフォーカスされている場合に不透明
    .player-container[data-is-cursor-stopped="false"][data-is-dynamic-controller="true"] .player-bottom-container, 
    .player-container[data-is-dynamic-controller="true"] .player-bottom-container:hover,
    .player-container[data-is-dynamic-controller="true"] .player-bottom-container:has(input:focus),
    .player-container[data-is-dynamic-controller="true"] .player-bottom-container:has(textarea:focus) {
        opacity: 1 !important;
    }
}

.player-container[data-is-cursor-stopped="true"] {
    .player-video-container {
        cursor: none;
    }
}

.player-bottom-container {
    cursor: inherit;
}


[data-watch-type="shinjuku"] .player-container {
    padding: 0px;
}

.statsoverlay {
    position: relative;
    left: 0;
    top: 0;
    margin: 8px;
    padding: 8px;
    background: #000a;
    color: #fff;    
    width: fit-content;
    font-family: monospace;
    font-size: 16px;
}

.player-transition {
    &-vefx-enter, &-vefx-exit-active {
        --translateX: -100%;
    }
    &-settings-enter, &-settings-exit-active {
        --translateX: 100%;
    }
    &-vefx, &-settings {
        &-enter-active {
            transition: transform 0.3s ease;
            * {
                transition: transform 0.35s ease;
            }
        }
        &-exit-active {
            transition: transform 0.35s ease;
            * {
                transition: transform 0.3s ease;
            }
        }
        &-enter, &-exit-active {
            transform: translateX(var(--translateX))
            * {
                transform: translateX(var(--translateX))
            }
        }
        &-enter-done, &-enter-active {
            transform: translateX(0%)
            * {
                transform: translateX(0%)
            }
        }
    }
}

.player-shortcut-feedback-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .player-shortcut-feedback {
        width: max-content;
        margin: 16px auto;
        background: #000a;
        backdrop-filter: blur(8px);
        color: #fff;
        padding: 4px 8px;
        box-shadow: 0 0 8px #000;
        border-radius: var(--radius);
        border: 1px solid #333;
    }
}
.player-shortcut-feedback-transition {
    &-enter, &-exit-active {
        --translateY: 50%;
    }
    &-enter-active, &-exit-active {
        transition: transform 0.2s ease, opacity 0.2s ease;
    }
    &-enter, &-exit-active {
        transform: translateY(var(--translateY))
        opacity: 0;
    }
    &-enter-done, &-enter-active {
        transform: translateY(0%)
        opacity: 1;
    }
}