.playercontroller-container {
    margin-top: 4px;
}

.seekbar-container {
    display: flex;
    padding: 4px;
    gap: 8px;
    align-items: center;
    margin-bottom: 2px;

    .seekbar {
        flex: 1
    }

    .seekbar-time {
        font-size: 0.9em;
        color: var(--textcolor1);
    }

    .seekbar-storyboard {
        position: absolute;
        transform: translate(-50%,10%);
        background: #000a;
        color: #fff;
        font-size: 0.7em;
        border-radius: var(--radius);
        padding: 4px;
        bottom: 1rem;
        transition: opacity 0.2s ease, transform 0.1s ease;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        backdrop-filter: var(--backdrop-blur-normal);
        box-shadow: 0 0 4px #000a;
        border: 1px solid #333;

        .seekbar-storyboard-time {
            text-align: center;
            margin-top: 4px;
        }
    }

    .seekbar:hover .seekbar-storyboard {
        opacity: 0.9;
        transform: translate(-50%,0%);
        pointer-events: inherit;

        &:hover {
            opacity: 1;
        }
    }
}

.playercontroller-container-middle {
    display: flex;
}

.playercontroller-container-left {
    justify-content: start;
}

.playercontroller-container-center {
    justify-content: center;
}

.playercontroller-container-right {
    justify-content: end;
}

.playercontroller-container-right, .playercontroller-container-left, .playercontroller-container-center {
    display: flex;
    align-items: center;
    flex: 1;

    button {
        display: block;
        background: transparent;
        border: none;
        color: var(--textcolor1);
        vertical-align: middle;
        padding: 5px 8px;
        border-radius: var(--radius);
        transition: background 0.1s ease, transform 0.05s ease;

        svg {
            vertical-align: middle;
        }

        position: relative;

        &:hover {
            background: var(--hover1);
            cursor: pointer;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    button:not(:hover, :focus-visible) .playercontroller-tooltip {
        transform: translateX(-50%) translateY(50%);
        opacity: 0;
        transition: transform 0.15s ease, opacity 0.15s ease;
    }
}

.playercontroller-tooltip {
    display: block;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9em;
    z-index: 1;
    backdrop-filter: var(--backdrop-blur-normal);
    padding: 2px 4px;
    top: 3em;
    border: 1px solid #333;
    box-shadow: 0 0 4px #000a;
    left: 50%;
    right: 50%;
    width: fit-content;
    border-radius: var(--radius-mini);
    pointer-events: none;
    white-space: nowrap;
    background: #000a;
    color: #fff;
    position: absolute;
    margin: 0 auto;
}

.playercontroller-tooltip-transition {
    &-enter, &-exit-active {
        --translateY: 50%;

        transform: translateX(-50%) translateY(var(--translateY));
        opacity: 0;
    }

    &-enter-active {
        transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    }

    &-exit-active {
        transition: transform 0.15s ease, opacity 0.15s ease;
    }

    &-enter-done, &-enter-active {
        transform: translateX(-50%) translateY(0%);
        opacity: 1;
    }
}

.playercontroller-qualityselect {
    padding: 4px 8px;
    height: 100%;
    margin: 0 8px;
    background: var(--bgcolor2);
    color: var(--textcolor2);
    border: none;
    border-radius: var(--radius-mini);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: var(--transition-normal);
}

.playercontroller-qualityselect:hover, .playercontroller-qualityselect:focus {
    background: var(--hover1);
    color: var(--textcolor1);
}

.playercontroller-effectchange {
    display: flex !important;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--textcolor1);
    padding: 4px;
    vertical-align: middle;
    border-radius: var(--radius-mini);
    transition: var(--transition-normal);
}

.playercontroller-effectchange:hover {
    background: var(--hover1);
}

.playercontroller-qualitydisplay {
    color: var(--textcolor2);
    margin-right: 8px;
}

.playercontroller-volume-container {
    position: relative;
    vertical-align: middle;
    height: 10px;

    .playercontroller-volume {
        max-width: 100px;
        appearance: none;
        background: transparent;
        outline: none;
        cursor: pointer;
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        vertical-align: top;
    }

    .playercontroller-volume::before {
        content: "";
        background: var(--linktext2);
        width: var(--width);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: var(--radius-mini);
    }

    .playercontroller-volume::-moz-range-progress {
        background: var(--linktext2);
        border-radius: var(--radius-mini);
        height: 100%;
    }

    .playercontroller-volume::-moz-range-track {
        background: var(--bgcolor3);
        border-radius: var(--radius-mini);
        height: 100%;
    }
    
    .playercontroller-volume::-moz-range-thumb {
        appearance: none;
        height: 100%;
        background: var(--textcolor2);
        width: 0;
        border: none;
    }

    .playercontroller-volume::-webkit-slider-runnable-track {
        background: var(--bgcolor3);
        border-radius: var(--radius-mini);
        height: 100%;
    }

    .playercontroller-volume::-webkit-slider-thumb {
        appearance: none;
        height: 100%;
        background: var(--textcolor2);
        width: 0;
    }
}

.playercontroller-volume-tooltip {
    top: 12px;
    font-size: 0.8rem;
    border: 1px solid #333;
    border-radius: var(--radius-mini);
    background: rgb(0 0 0 / 66.7%);
    color: #fff;
    padding: 2px 4px;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    transition: opacity 0.2s ease, transform 0.2s ease;
    backdrop-filter: var(--backdrop-blur-normal);
    transform: translateY(50%);
    opacity: 0;
    box-shadow: 0 0 4px #000a;
    z-index: 2;
    pointer-events: none;
}

.playercontroller-volume-container:hover .playercontroller-volume-tooltip {
    opacity: 1;
    transform: translateY(0)
}

.playercontroller-time {
    margin: 0 8px;
}

.seekbar {
    flex: 1;

    // background: var(--bgcolor3);
    height: 1rem;
    position: relative;
    border-radius: var(--radius-mini);
    cursor: pointer
}

.seekbar-bg {
    position: absolute;
    inset: 0;
    background: var(--bgcolor3);
    border-radius: var(--radius-mini);
}

.seekbar-thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--left);
    border-radius: 16px;
    margin: auto 0;
    background: var(--linktext3);
    border: 3px solid #fafafa;
    box-shadow: 0 0 2px #000a !important;
    width: 12px;
    height: 18px;
    transform: translate(-50%, 0%);
}

.seekbar[data-is-seeking="false"] .seekbar-thumb {
    transition: left 0.1s ease;
}

.seekbar-played {
    height: 100%;
    background: var(--linktext2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--radius-mini);
}

.seekbar-buffered {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--textcolor1);
    border-radius: var(--radius-mini);
    opacity: 0.5;
}

.seekbar-bg, .seekbar-buffered, .seekbar-played {
    height: 0.5rem;
    bottom: 0;
    transform: none;
    margin: auto 0;
}

.seekbar-commentstats {
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease
} 

.seekbar:hover {
    .seekbar-commentstats.global-flex {
        background: linear-gradient(0deg, rgb(0 0 0 / 66.7%), rgb(0 0 0 / 33.3%));

        /* height: 10px; */
        align-items: end;
        gap: 4px;
        padding: 0 8px;
        border-radius: var(--radius-big) var(--radius-big) 0 0;
        opacity: 1;

        span {
            height: calc(var(--height) * 2);
            background: #fff;
            border-radius: var(--radius) var(--radius) 0 0;
            opacity: 0.7;
        }
    }
}