.player-container[data-player-type="default"] {
    .playercontroller-container-right, .playercontroller-container-left {
        button {
            padding: 6px;
        }
    }

    .playercontroller-container-center {
        button {
            padding: 8px;
            border-radius: 1024px;
            background: var(--accent1);

            &:hover {
                background: var(--hover1);
            }

            & svg {
                width: 22px;
                height: 22px;
            }
        }
    }

    .playercontroller-container-right, .playercontroller-container-left {
        gap: 4px;
    }

    .playercontroller-container-center {
        gap: 8px;
    }

    .playercontroller-container-middle {
        padding: 0 8px;
    }

    .playercontroller-qualityselect {
        height: 2.5rem;
    }

    .seekbar-container {
        padding: 0 10px;
        padding-top: 6px;
    }

    .playercontroller-container > div {
        transition: opacity 0.2s ease;
    }

}

.container:not(.fullscreen)[data-background-playing="false"] .watch-container:not([data-watch-type="shinjuku"]) {
    .player-container[data-player-type="default"][data-is-borderless-player="true"] {
        .player-video-container {
            border-radius: var(--radius);
        }

        .playercontroller-container {
            margin-top: 8px;
            padding: 2px 0;
            padding-bottom: 4px;
            background: var(--bgcolor2);
            border-radius: var(--radius);
            border: var(--border);
            box-shadow: var(--box-shadow);
        }

        &[data-is-integrated-controller="true"] .playercontroller-container {
            backdrop-filter: var(--backdrop-blur-high);
            box-shadow: 0 0 4px #000;
        }

        &[data-is-integrated-controller="true"] {
            .playersettings-container, .vefx-container {
                bottom: 96px;
            }
        }
    }

}


.fullscreen.container[data-background-playing="false"] .watch-container[data-is-bigview="false"] .player-container[data-player-type="default"] {
    background: var(--bgcolor1);

    .playercontroller-container {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;

        --bgcolor1: #000a;
        --bgcolor2: #252525af;
        --bgcolor3: #4a4a4aaf;
        --bgcolor4: #6a6a6aaf;
        --accent1: #3a3a3add;
        --accent2: #5a5a5add;
        --hover1: #404040af;
        --hover2: #5a5a5aaf;
        --textcolor1: #fff;
        --textcolor2: #ddd;
        --textcolor3: #aaa;
    }

    .commentinput-container {
        margin-top: 0;
    }

    .player-video-container {
        background: #000;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        width: 100%;
    }
}
