.player-container[data-player-type="shinjuku"] .playercontroller-container {
    --radius: 0px;
    --radius-mini: 0px;
    --radius-big: 0px;

    background-image: linear-gradient(#aaa, #666 3%, #383838 48%, #222 50%, #424242 95%, #222 100%);
    color: #fff;
    margin-top: 0;
    font-family: var(--shinjuku-font-family, inherit);
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;

    .playercontroller-container-middle {
        min-height: 32px;
    }

    .playercontroller-container-left {
        flex: 1;
        padding-left: 1px;
    }

    .playercontroller-container-right, .playercontroller-container-center {
        flex: none;
    }

    .playercontroller-container-left, .playercontroller-container-center {
        button {
            border: 1px solid #111;
            border-image: linear-gradient(#252525 10%, #000 50%, #0f0f0f) 2;
            padding: 3px 4px; // 1px増やすのはoutlineが減った分
            margin-left: 2px;
            box-shadow: 0 0 3px #000 inset;
            position: relative;

            &::after {
                content: "";
                background: transparent;
                inset: 0;
                position: absolute;
                z-index: 1;
                border: 1px solid #000;
                border-image: linear-gradient(#000, #252525 50%, #666) 2;
            }
        }

        button:not(:focus-visible) {
            // outline: 1px solid #060606;
        }
    }

    .playercontroller-container-left button.playercontroller-togglepause {
        padding: 3px 10px; // 1px増やすのはoutlineが減った分
    }

    .playercontroller-container-right button {
        padding: 6px 4px;
    }

    button svg {
        height: 20px;
        width: 20px;
        color: #fff;
    }

    button svg[xmlns\:serif]{
        filter: grayscale(1) brightness(10);
    }

    button:active {
        transform: none !important;
    }

    .playercontroller-container-left button {
        transition: none;

        &:hover {
            background: #fff2;
            cursor: pointer;
        }

        &:active {
            background-image: linear-gradient(#fe2, #fa0 45%, #f50 55%, #e82 100%);
            
            &::after {
                border-image: linear-gradient(#fff, #ff0) 2 / 1 / 0 stretch;
            }

            & svg {
                opacity: 0.9;
            }
        }
    }

    .playercontroller-container-right button, .playercontroller-container-center button {
        transition: none;

        &:hover {
            background: transparent;
            cursor: pointer;

            svg[xmlns\:serif]{
                filter: grayscale(1) brightness(3);
            }
        }

        &:active svg[xmlns\:serif] {
            filter: hue-rotate(65deg) saturate(0.9) brightness(5);
        }
    }

    .playercontroller-commenttoggle, .playercontroller-effectchange, .playercontroller-toggleloop {
        border-left: 3px solid;
        border-image: linear-gradient(90deg, #aaaa 1%, #000 5%, #000 10%, #aaaa 15%) 5;
    }

    .playercontroller-container-right, .player-container[data-player-type="shinjuku"] .playercontroller-container-left {
        flex: none;
    }

    .seekbar-container {
        flex: 1;
        margin: 0;
    }

    .playercontroller-qualityselect {
        background: transparent;
        padding: 6px 2px;
        color: #fff;
        margin: 0;
        font-size: 12px;
        font-family: "MS UI Gothic", sans-serif;
        font-weight: bold;

        option {
            background: #000;
            color: #fff;
        }
    }

    .playercontroller-volume-container {
        height: 10px;
        margin-right: 4px;

        .playercontroller-volume {
            max-width: 64px;
        }

        .playercontroller-volume::-moz-range-track {
            border: 2px solid #111;
            background: linear-gradient(#000 0%, #555 20%, #333 90%, #444 90%);
            height: 8px;
        }

        .playercontroller-volume::-moz-range-progress {
            background: linear-gradient(#666 0%, #fff 20%, #ddd 90%, #aaa 90%);
            height: 8px;
        }

        .playercontroller-volume::moz-range-thumb {
            border: none;    
            height: 8px;
        }

        .playercontroller-volume::-webkit-slider-runnable-track {
            border: 2px solid #111;
            background: linear-gradient(#000 0%, #555 20%, #333 90%, #444 90%);
        }

        .playercontroller-volume::before {
            background: linear-gradient(#666 0%, #fff 20%, #ddd 90%, #aaa 90%);
            margin: 2px;
            width: calc(100% - 4px) !important;
            transform: scaleX(var(--width));
            transform-origin: top left;
        }
    }



    .seekbar-bg, .seekbar-buffered, .seekbar-played {
        height: 6px;
        transform: none;
    }

    .seekbar-thumb {
        position: relative;
        height: 24px;
        width: 6px;
        background: linear-gradient(#ddd 1%, #ddd 2%, #ddd 49%, #555 50%, #eee 100%);
        bottom: 9px;
        top: inherit;
        transform: none;
        border-radius: 0;
        border: 1px solid #111;
        transition: none;
    }

    .seekbar {
        height: 10px;
        border: 2px solid #111;
        background: linear-gradient(#232323, #1c1c1c 20%, #333 70%);
    }

    .seekbar-played {
        background: transparent;
    }

    .seekbar-buffered {
        background: linear-gradient(#888, #ddd 20%, #fff 70%);
        opacity: 1;
    }

    .seekbar-bg {
        display: none
    }

    .playercontroller-time {
        font-family: var(--shinjuku-dot-font-family, inherit);
        font-weight: var(--shinjuku-dot-font-weight, bold);
        font-size: var(--shinjuku-dot-font-size, 13px);
        letter-spacing: var(--shinjuku-dot-font-letter-spacing, -1px);
        margin: 0 2px;
        margin-right: 4px;
    }
}