.navbar-container {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    padding: 0 16px;
    gap: 16px;

    .navbar-sidemenu-button {
        background: transparent;
        color: var(--textcolor1);
        border-radius: 1024px;
        border: none;
        padding: 0;

        &:hover {
            background: var(--hover1);
        }

        svg {
            vertical-align: middle;
            padding: 8px;
        }
    }

    .navbar-logo a {
        background: var(--navbar-logo-url);
        aspect-ratio: 300 / 45;
        height: 1.25em;
        display: block;
    }
}

.navbar-custom-area {
    display: flex;
    gap: 8px;
    padding: 4px;
    border-radius: var(--radius);
    position: relative;

    &[data-is-editmode="true"] {
        border: var(--border);
        border-style: dotted;
        border-width: 2px;
    }

    .navbar-custom-area-item {
        display: block;
        padding: 4px;
        border-radius: var(--radius);
        color: var(--textcolor2);

        svg {
            vertical-align: middle;
        }

        &:hover {
            background: var(--hover1);
            color: var(--textcolor1);
        }
    }

    .navbar-custom-area-edit-done-button {
        margin-left: 8px;
        background: transparent;
        color: var(--textcolor1);
        border: var(--border);
        border-radius: var(--radius);
        cursor: pointer;

        &:hover {
            background: var(--bgcolor2);
        }

        svg {
            vertical-align: middle;
        }
    }

    .navbar-custom-area-editmode-tips {
        align-self: center;
        opacity: 0.8;
        font-size: 0.8rem;
        margin: 4px 0;
        position: absolute;
        bottom: calc(-3rem - 16px);
        width: max-content;
        left: 0;
        background: var(--bgcolor1);
        padding: 8px;
        border-radius: var(--radius);
        border: var(--border);
        box-shadow: var(--box-shadow);
    }
}

.navigation-custom-drag-overlay div {
    width: min-content;
}

.navbar-container .searchbox-container {
    display: flex;
    background: var(--bgcolor2);
    padding: 0;
    border-radius: var(--radius);
    align-items: center;
    gap: 0;
    border: var(--border);
    height: fit-content;

    .searchbox-typeselector {
        font-size: 1.5rem;
        padding: 0 8px;
    }

    .searchbox-type-text {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1em;
        height: 1em;
        text-align:center;
    }

    .searchbox-type-item {
        display: grid;
        grid-template-columns: auto 0;
        text-align: left;
        align-items: center;
        font-size: 0.75rem;
        padding: 4px 6px;
        border-radius: 6px;
        color: var(--textcolor3);
        transition: var(--transition-normal), grid-template-columns 0.15s ease;

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    .searchbox-type-item.searchbox-type-active {
        color: var(--textcolor1);
        padding: 4px 6px;
    }

    .searchbox-inputcontainer {
        input {
            border: none;
            border-left: var(--border);
            border-radius: 0;
            padding: 0 0.5em;
            width: 20em;
        }

        button {
            background: var(--accent1);
            border: none;
            padding: 6px 12px;

            svg {
                height: 1.4rem;
                width: 1.4rem;
            }
        }
    }

    &[data-in-search-page="true"] {
        .searchbox-type-item.searchbox-type-active {
            grid-template-columns: auto 5em;
            background: var(--textcolor1);
            color: var(--bgcolor1);
            font-weight: bold;
        }
    }
}

.navbar-background-player-container {
    display: flex;
    max-height: calc(var(--navbar-height) - 8px);
    align-items: center;
    gap: 8px;
    background: var(--bgcolor1);
    padding: 4px;
    border-radius: var(--radius);
    font-size: 0.9rem;
}

.navbar-background-player-thumbnail {
    height: 2rem;
    object-fit: contain;
}

.navbar-background-player-title-subtitle {
    color: var(--textcolor3);
}

.navbar-background-player-title-video {
    font-weight: bold;
}

.navbar-background-player-action {
    background: transparent;
    color: var(--textcolor1);
    border: var(--border);
    border-radius: var(--radius);
    padding: 4px;
    cursor: pointer;
}

.navbar-background-player-action:hover {
    background: var(--hover1);
}

.navbar-background-player-action svg {
    vertical-align: middle;
}

.navbar-right-separator {
    margin-left: auto;
}

.header-container[data-navbar-type="dynamic"] .navbar-container {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out, opacity 0.2s ease;
}

.header-container[data-navbar-type="dynamic"]:hover .navbar-container, 
.header-container[data-navbar-type="dynamic"] .navbar-container:has(input:focus) 
.header-container[data-navbar-type="dynamic"]:has(.sidemenu-container) .navbar-container {
    height: var(--navbar-height);
    opacity: 1;
    overflow: visible;
}

.header-container[data-navbar-type="disable"] .navbar-container {
    display: none;
}

/*
.navbar-container {
    opacity: 1;
    height: auto;
    transition: opacity 0.5s ease, height 0.2s ease;
    interpolate-size: allow-keywords;
}
.header-container:not(:hover):not(:has(.headeraction-modal-container)) .navbar-container:not(:has(:focus)) {
    opacity: 0;
    height: 0;
    padding: 0 16px !important;
    transition: opacity 0.1s ease, height 0.2s ease;
}
*/