.sidemenu-wrapper {
    position: fixed;
    inset: 0;
    z-index: 98;
    
}

.sidemenu-container {
    position: fixed;
    top: calc(var(--header-height) + var(--navbar-height));
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: var(--bgcolor2);
    padding: 16px;
    font-size: 0.9rem;
    z-index: 100;
    border-top: var(--border);
}

.header-container[data-is-fixed="false"] .sidemenu-wrapper{
    z-index: 101;
}

.header-container[data-is-fixed="false"] .sidemenu-container{
    top: 0;
    margin: 8px 0;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: var(--border);
    z-index: 102;
}


.sidemenu-item {
    text-decoration: none;
    padding: 8px;
    border-radius: var(--radius);
    color: var(--textcolor1);

    &:hover {
        background: var(--hover1)
    }
}

.sidemenu-item svg {
    vertical-align: middle;
    margin-right: 8px;
}

.sidemenu-item-label {
    vertical-align: middle;
}

.sidemenu-separator {
    border-bottom: var(--border);
    margin: 8px 0;
}

.sidemenu-closebutton {
    background: transparent;
    color: var(--textcolor1);
    border-radius: 1024px;
    border: none;
    padding: 0;
    text-align: center;
    align-self: end;
    display: none;

    &:hover {
        background: var(--hover1);
    }

    svg {
        vertical-align: middle;
        padding: 8px;
    }
}

.header-container[data-is-fixed="false"] .sidemenu-closebutton {
    display: block;
}

.sidemenu-editmode-button {
    margin-top: auto;
    background: transparent;
    color: inherit;
    border-radius: var(--border);
    border: none;
    text-align: left;
    padding: 8px;
    cursor: pointer;

    svg {
        vertical-align: middle;
        margin-right: 8px;
    }

    span {
        vertical-align: middle;
    }

    &:hover {
        background: var(--hover1);
    }
}

.sidemenu-transition {
    &-enter, &-exit-active {
        --translateX: -110%;

        background: rgb(0 0 0 / 0%);
        backdrop-filter: blur(0);

        .sidemenu-container {
            transform: translateX(var(--translateX));
        }
    }

    &-enter-active, &-exit-active {
        transition: background 0.3s ease, backdrop-filter 0.3s ease;

        .sidemenu-container {
            transition: transform 0.3s ease;
        }
    }

    &-enter-done, &-enter-active {
        background: rgb(0 0 0 / 50%);
        backdrop-filter: blur(4px);

        .sidemenu-container {
            transform: translateX(0%);
        }
    }
}