.sidemenu-wrapper {
    position: fixed;
    inset: 0;
    z-index: 98;

    &[data-animation="preEnter"], &[data-animation="exiting"] {
        --translateX: -110%;

        background: rgb(0 0 0 / 0%);
        backdrop-filter: blur(0);

        .sidemenu-container {
            transform: translateX(var(--translateX));
        }

        .zsnow-canvas {
            opacity: 0;
        }

        & .sidemenu-item-label, .sidemenu-editmode-button {
            opacity: 0;
            white-space: nowrap;
        }
    }

    &[data-animation="entering"], &[data-animation="exiting"] {
        transition: background 0.3s ease, backdrop-filter 0.3s ease;

        .sidemenu-container {
            transition: transform 0.3s ease;
        }

        .zsnow-canvas {
            transition: opacity 0.2s ease;
        }
    }

    &[data-animation="entering"], &[data-animation="entered"] {
        &:not([data-is-collapsed="true"], [data-was-collapsed="true"]) {
            background: rgb(0 0 0 / 50%);
            backdrop-filter: var(--backdrop-blur-normal);
        }

        .sidemenu-container {
            transform: translateX(0%);
        }

        .zsnow-canvas {
            opacity: 1;
        }

        .sidemenu-item-label, .sidemenu-editmode-button {
            transition: opacity 0.5s ease;
            opacity: 1;
            white-space: nowrap;
        }
    }
}

.sidemenu-container {
    position: fixed;
    top: calc(var(--header-height) + var(--navbar-height));
    bottom: 0;
    width: 14.5rem;
    display: flex;
    flex-direction: column;
    background: var(--bgcolor2);
    padding: 16px;
    font-size: 0.9rem;
    z-index: 100;
    border-top: var(--border);
    border-right: var(--border);
    box-shadow: 0 0 8px #0008;
}

.header-container[data-is-fixed="false"] .sidemenu-wrapper, .header-container[data-navbar-type="shinjuku"] .sidemenu-wrapper {
    z-index: 101;
}

.header-container[data-is-fixed="false"] .sidemenu-container, .header-container[data-navbar-type="shinjuku"] .sidemenu-container {
    top: 0;
    margin: 8px 0;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: var(--border);
    z-index: 102;
}

.header-container[data-is-fixed="true"][data-is-omni-header="true"] .sidemenu-container {
    top: var(--navbar-height);
}

.sidemenu-item {
    text-decoration: none;
    padding: 8px;
    border-radius: var(--radius);
    color: var(--textcolor1);

    &:hover {
        background: var(--hover1);
    }
}

.sidemenu-item svg {
    vertical-align: middle;
    margin-right: 8px;
}

.sidemenu-item-label {
    vertical-align: middle;
}

.sidemenu-separator {
    border-bottom: var(--border);
    margin: 8px 0;
}

.sidemenu-closebutton {
    background: transparent;
    color: var(--textcolor1);
    border-radius: 1024px;
    border: none;
    padding: 0;
    text-align: center;
    align-self: end;
    display: none;

    &:hover {
        background: var(--hover1);
    }

    svg {
        vertical-align: middle;
        padding: 8px;
    }
}

.header-container[data-is-fixed="false"] .sidemenu-closebutton, .header-container[data-navbar-type="shinjuku"] .sidemenu-closebutton {
    display: block;
}

.header-container[data-navbar-type="shinjuku"] .sidemenu-editmode-button {
    display: none;
}

.sidemenu-editmode-button {
    margin-top: auto;
    background: transparent;
    color: inherit;
    border-radius: var(--radius);
    border: none;
    text-align: left;
    padding: 8px;
    cursor: pointer;

    svg {
        vertical-align: middle;
        margin-right: 8px;
    }

    span {
        vertical-align: middle;
    }

    &:hover {
        background: var(--hover1);
    }
}

.sidemenu-container .toolbox-container {
    justify-content: center;
    border-top: 1px solid var(--accent1);
    padding-top: 8px;
    margin-top: 8px;

    button {
        font-size: .7rem;
    }
}

.sidemenu-wrapper .zsnow-canvas {
    width: 100vw;
    height: 100vh;
    background: #02f2;
    position: fixed;
}

.sidemenu-wrapper[data-display-mode="dock"] {
    transition: background 0.3s ease, backdrop-filter 0.3s ease;

    .sidemenu-container {
        width: 14.5rem;
        transition: width 0.3s ease;

        & .sidemenu-item-label {
            transition: opacity 0.2s ease;
        }
    }
}

.sidemenu-wrapper[data-display-mode="dock"][data-is-collapsed="false"] {
    background: rgb(0 0 0 / 50%);
    backdrop-filter: var(--backdrop-blur-normal);
}

.sidemenu-wrapper[data-display-mode="dock"][data-is-collapsed="true"], .sidemenu-wrapper[data-animation="exiting"][data-was-collapsed="true"] {
    right: unset;

    .sidemenu-container {
        width: 74px;
        transition: width 0.3s ease, transform 0.3s ease;

        & .sidemenu-item-label {
            display: none;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
    }

    .sidemenu-item {
        // justify-content: center;

        svg {
            margin-right: 0;
        }
    }
}

.header-container[data-navbar-type="shinjuku"] .sidemenu-wrapper[data-display-mode="dock"] .sidemenu-container{
    top: 36px;
}

.header-container[data-navbar-type="shinjuku"] .sidemenu-wrapper[data-display-mode="dock"][data-is-collapsed="true"] .sidemenu-container .sidemenu-closebutton {
    visibility: hidden;
    pointer-events: none;
}

.sidemenu-item, .sidemenu-editmode-button {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    overflow: hidden;
}

.sidemenu-item > *, .sidemenu-editmode-button {
    flex-shrink: 0;
}

main:has(.sidemenu-wrapper[data-display-mode="dock"]) .page-videotop-container {
    box-sizing: border-box;
    width: 100%;
    padding-left: var(--sidemenu-dock-width, 19rem);
    transition: padding-left 0.2s ease;
}

main:has(.sidemenu-wrapper[data-display-mode="dock"][data-is-collapsed="true"]) .page-videotop-container {
    padding-left: var(--sidemenu-dock-collapsed-width, 4.5rem);
}

@media (width <= 1024px) {
    main:has(.sidemenu-wrapper[data-display-mode="dock"]) .page-videotop-container {
        padding-left: 0;
    }

    .sidemenu-wrapper[data-display-mode="dock"] {
        display: none;
    }
}
