.user-timeline-content {
    .activities-timeline-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .activity {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 1rem 0.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--accent1);
        }

        .info-card {
            --thumb-height: 6rem;

            background: var(--bgcolor2);
            align-items: start;
            gap: 12px;
            grid-column: 2 / 4;
        }

        .info-card-title {
            font-size: 1rem;
            font-weight: bold;
        }

        .info-card-subtitle {
            font-size: 0.8rem;
        }

        .info-card-datacolumn {
            gap: 8px;
            margin: 8px 0;
        }
    }

    .activities-item-container {
        gap: 0;
    }

    .activities-date-title {
        margin-bottom: 0;
    }
}
