.user-videolist-view {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user-videolist-view-title {
    margin: 0;
    font-size: 1.25rem;
}

.user-videolist-view-information {
    display: flex;
    gap: 16px;
    padding: 16px;
    align-items: center;
}

.user-videolist-view-information-data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-videolist-view-information-thumbnail {
    width: 8em;
    aspect-ratio: 16/9;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: var(--radius);
    }
}

.user-videolist-view-stats {
    display: flex;
    font-size: 0.9rem;
    color: var(--textcolor2);

    .user-videolist-view-stat {
        border-left: 2px solid var(--textcolor3);
        padding: 0 8px;
    }
}

.user-videolist-view-playbutton {
    background: var(--bgcolor2);
    color: inherit;
    border: var(--border);
    border-radius: var(--radius);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 0.25em;
    font-size: 0.9rem;
    box-shadow: var(--box-shadow);
    transition: var(--transition-normal);
    
    &:hover, &:focus-visible {
        background: var(--hover1);
    }

    svg {
        width: 1.2em;
        height: 1.2em;
    }
}

.user-series-view-videos-options {
    display: flex;
    gap: var(--blocks-gap);
}

.user-mylist-videos-options, .user-series-view-videos-options {
    .generic-option-switcher[data-switcher-type="display"] {
        display: none;
    }

    .pageselector-container {
        flex: 1;
        justify-content: end;
    }
}

.user-videolist-view-video {
    background: var(--bgcolor2);
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 8px;
    padding: 8px;
    border-bottom: var(--border);

    .genericitem-card {
        border: none;
        border-radius: var(--radius);
        background: var(--bgcolor1);
        padding: 8px;

        --thumb-height: 5.5rem;

        .info-card-title {
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.25em;
        }

        .info-card-datacolumn {
            gap: 6px;
        }
    }
}

.user-videolist-view-video-mylistdata {
    margin-top: 8px;
}

.user-videolist-view-video-mylistdata-addedAt {
    color: var(--textcolor2);
    font-size: 0.9rem;
}

.user-videolist-view-video-mylistdata-description {
    padding: 4px 8px;
    border-radius: var(--radius);
    border: var(--border);
    margin-bottom: 8px;
    font-size: 0.9rem;
}