.shogi-genre-ranking {
    display: grid;
    width: min(95vw, 95em);
    padding: 1rem 0;
    grid-template-columns: minmax(15rem, 1fr) minmax(40rem, 2.75fr) minmax(15rem, 1fr);
    grid-template-areas: "feat feat feat" ". items trend" ". page .";
    position: relative;
    margin: 0 auto;
    gap: 1rem;

    a {
        color: var(--textcolor1);
    }

    > .pageselector-container[data-is-vertical="false"] {
        grid-area: page;
    }

    .videoitem-card {
        position: relative;
        border-radius: var(--radius);
        background: var(--bgcolor2);
        border: var(--border);
    }

    .videoitem-card::before {
        position: absolute;
        content: attr(data-index);
        display: block;
        right: 0;
        bottom: 0;
        font-size: 2rem;
        font-style: italic;
        font-weight: bold;
        text-align: right;
        margin-right: 1rem;
        opacity: 0.8;
    }

    .videoitem-card.info-card {
        --thumb-height: 8rem;

        gap: 12px;
        padding: 14px;
    }

    .videoitem-card .info-card-datacolumn {
        display: flex;
        gap: 10px;
    }

    .genericitem-owner {
        flex-direction: row;
        align-items: center;
    }

    .videoitem-card .info-card-subtitle {
        place-self: start;
    }

    .shogi-genre-teiban-selector-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .shogi-genre-teiban-selector {
        text-decoration: none;
        border-radius: var(--radius);
        border: var(--border);
        padding: 6px 12px;
        font-size: 0.9rem;
        text-align: center;

        &[data-is-active="true"] {
            background: var(--textcolor1);
            color: var(--bgcolor1);
        }
    }

    .shogi-genre-featured-container {
        grid-area: feat;
        padding: 8px;
        border-radius: var(--radius);
        background: var(--bgcolor2);
    }

    .shogi-genre-trendtags {
        grid-area: trend;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            margin: 0;

            svg {
                vertical-align: middle;
            }
        }
    }

    .shogi-genre-trend-tag {
        text-decoration: none;
        background: var(--bgcolor2);
        border: 2px solid var(--accent1);
        line-height: 2rem;
        border-radius: 1024px;
        padding: 0 1rem;
    }

    .shogi-genre-items {
        grid-area: items;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .shogi-genre-stats {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .shogi-genre-this-title {
        border-radius: var(--radius);
        background: var(--bgcolor2);
        padding: 8px;
        border-top: 4px solid var(--accent1);
    }

    .shogi-genre-this-title-subtitle {
        opacity: 0.8;
        font-size: 0.9rem;

        > * {
            vertical-align: middle;
        }

        > svg {
            height: 1.2rem;
        }
    }

    .shogi-genre-tag {
        color: var(--textcolor2);
    }

    .shogi-genre-genretitle {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .shogi-genre-no-trend-tags {
        opacity: 0.5;
        text-align: center;
    }

    .shogi-genre-term-selector {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .shogi-genre-term-button  {
        text-decoration: none;
        padding: 4px 8px;
        background: var(--bgcolor2);
        border: var(--border);
        border-radius: var(--radius);
        display: block;
        font-size: 1rem;

        &[data-is-active="true"] {
            background: var(--textcolor1);
            color: var(--bgcolor1);
            font-weight: bold;
        }
    }

    .shogi-genre-term-title {
        color: var(--textcolor2);
        font-size: 0.9rem;
    }
}