.search-container {
    display: grid;
    width: min(95vw, 95em);
    padding: 1rem 0;
    grid-template-columns: 1fr 60rem 1fr;
    position: relative;
    margin: 0 auto;
    gap: 0.5rem 1rem;
    grid-template-areas:
        "title title title"
        "related related ."
        "pagel options ."
        "pagel result result"
        "filter result result"
        ". result result"
        ". pageb pageb";

    .pageselector-container[data-is-vertical="true"] {
        grid-area: pagel;
    }

    .pageselector-container[data-is-vertical="false"] {
        grid-area: pageb;
    }

    &[data-is-fetching="true"] {
        opacity: 0.5;
    }

    &[data-is-nicodic-article-exists="true"] {
        grid-template-areas:
            "title title title"
            "dict dict ."
            "pagel options related"
            "pagel result related"
            "filter result related"
            ". result related"
            ". pageb pageb";
    }

    &[data-is-nicodic-article-exists="false"] {
        grid-template-areas:
            "title title title"
            "related related ."
            "pagel options dict"
            "pagel result dict"
            "filter result ."
            ". result ."
            ". pageb pageb";
    }

    &:not([data-is-nicodic-article-exists="true"]) {
        .search-result-relatedtags-items {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 4px;
            font-size: 0.9rem;
        }

        .search-result-relatedtags {
            border: var(--border);
            border-radius: var(--radius);
            padding: 8px;
        }

        .search-result-relatedtags h3 {
            font-size: 0.9rem;

            svg {
                height: 1.25em;
                width: 1.25em;
            }
        }
    }
}

.search-result-items {
    display: flex;
    flex-direction: column;
    gap: 0;
    grid-area: result;
}

.search-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: normal;
    grid-area: title;
}

.search-title-totalcount {
    font-size: 1rem;
    opacity: 0.8;
}

.search-error {
    text-align: center;
}

.search-result-items[data-is-grid-layout="true"] {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 8px;

    .videoitem-wrapper, .mylistitem-wrapper {
        background: var(--bgcolor2);
        border: var(--border);
        border-radius: var(--radius);
    }

    .info-card.videoitem-card, .info-card.mylistitem-card {
        flex-direction: column;
        width: 100%;
        gap: 8px;
        padding: 8px;

        --thumb-height: auto;

        .info-card-datacolumn {
            display: flex;
            gap: 6px;
        }

        .info-card-title {
            font-size: 0.95rem;
            max-lines: 2;
            height: 3rem;
        }

        .info-card-desc {
            display: none;
        }

        .info-card-counts {
            font-size: 0.7rem;
        }

        .videoitem-count, .mylistitem-count {
            font-size: 0.8rem;
        }
    }

    .videoitem-owner-icon, .mylistitem-owner-icon {
        height: 1.5rem;
    }

    .videoitem-owner-name, .mylistitem-owner-name {
        vertical-align: middle;
    }

    .useritem-wrapper {
        flex-direction: column;
        overflow: hidden;
        align-items: start;
        background: var(--bgcolor2);
        border: var(--border);
        border-radius: var(--radius);
    }

    .useritem-strippeddesc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .useritem-datacolumn {
        overflow: hidden;
        max-width: 14rem;
        justify-content: space-between;
    }

    .useritem-count-item {
        display: flex;
        flex-direction: column;
    }
}