.pmw-onboarding-popup-wrapper {
    position: fixed;
    z-index: 500;
    left: 0;
    bottom: 0;
}

.pmw-onboarding-popup {
    background: var(--bgcolor2);
    padding: 20px;
    border-radius: 8px;
    margin: 8px;
    box-shadow: 0 0 8px #000a;
    border: 1px solid var(--accent1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pmw-onboarding-popup h2 {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.pmw-onboarding-popup-text {
    font-size: 0.9rem;
    white-space: pre-wrap;
}

.pmw-onboarding-popup-buttons {
    display: flex;
    gap: 8px;
}

.pmw-onboarding-popup-buttons > button {
    border-radius: 8px;
    padding: 4px 8px;
    background: transparent;
    color: var(--textcolor1);
    border: 1px solid var(--textcolor2);
    cursor: pointer;
    transition: background .1s ease, color .1s ease;

    &:hover {
        background: var(--textcolor1);
        color: var(--bgcolor2);
    }

    &.pmw-onboarding-popup-button-primary {
        background: var(--textcolor1);
        color: var(--bgcolor2);

        &:hover {
            background: var(--bgcolor3);
            color: var(--textcolor1);
        }
    }
}

.pmw-onboarding-popup-buttons > button.pmw-onboarding-popup-close-button {
    margin-right: auto;
    display: block;
}

.pmw-onboarding-select {
    background: var(--bgcolor2);
    color: var(--textcolor1);
    padding: 0;
    line-height: 1.5rem;
    border: var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

.pmw-onboarding-select:hover {
    box-shadow: 0 0 4px var(--textcolor2);
}

.pmw-onboarding-select[data-active="true"] {
    color: var(--linktext1);
    border-color: var(--linktext2);
    box-shadow: 0 0 4px var(--linktext2);
}

.pmw-onboarding-popup-childrens {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.pmw-onboarding-select-title {
    padding: 4px 8px;
}

// プレビューがあるときだけボーダーを表示
.pmw-onboarding-select-preview:has(svg) + .pmw-onboarding-select-title {
    border-top: var(--border);
}

.pmw-onboarding-select-preview {
    background: var(--bgcolor1);
    border-radius: var(--radius) var(--radius) 0 0;
}

.pmw-onboarding-select-preview svg {
    max-height: 8rem;
    max-width: 10rem;
    border-radius: var(--radius) var(--radius) 0 0;
}

.pmw-onboarding-popup-hint {
    opacity: 0.5;
}