.about-mintwatch-header {
    text-align: center;
    padding: 16px;
    background: var(--bgcolor2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-mintwatch-header svg {
    height: 5rem;
    aspect-ratio: 1;
}


.about-mintwatch-header h1 {
    border-left: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.about-mintwatch-buttonlink {
    display: inline-block;
    background: var(--bgcolor3);
    color: var(--textcolor1);
    border-radius: var(--radius);
    padding: 8px 12px;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
        background: var(--hover1);
    }
}