.pmw-help-content {
    font-size: 0.9rem;
    padding: 1rem;
    background: var(--bgcolor1);
    border-radius: var(--radius);
    line-height: 1.5rem;

    h1 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0.5rem 0;
        border-left: 4px solid var(--textcolor2);
        padding-left: 8px;
    }

    h1 + blockquote {
        border-left: 4px solid var(--textcolor2);
        padding: 0 8px;
        margin: 0;
        margin-top: -1rem;
        color: var(--textcolor2);
        line-height: 2em;
    }

    h2 {
        margin: 1rem 0;
        line-height: 2rem;
        border-left: 2px solid var(--textcolor2);
        padding-left: 0.5em;
    }

    h3 {
        margin: 0.5rem 0;
        border-left: 2px solid var(--accent1);
        padding-left: 8px;
    }

    kbd {
        background: var(--bgcolor2);
        border: var(--border);
        border-radius: var(--radius);
        padding: 0 4px;
        display: inline-block;
    }
}

// transition
.pmw-onboarding-popup-transition {
    &-enter, &-exit-active {
        --translateY: 100%;

        transform: translateY(var(--translateY));
        opacity: 0;
    }

    &-enter-active, &-exit-active {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &-enter-done, &-enter-active {
        transform: translateY(0%);
        opacity: 1;
    }
}

.pmw-keyboard-dance {
    transition: opacity 0.5s ease;
    margin: 1em 0;
    text-align: center;
}

.pmw-keyboard-help:not(:focus) .pmw-keyboard-dance {
    opacity: 0.25;
}

.pmw-keyboard-dance > svg {
    height: 3rem;
    display: inline;
    width: 3rem;
}

.pmw-keyboard-dance > svg[data-direction="left"] {
    rotate: -90deg;
}

.pmw-keyboard-dance > svg[data-direction="right"] {
    rotate: 90deg;
}

.pmw-keyboard-dance > svg[data-direction="down"] {
    rotate: 180deg;
}

.pmw-keyboard-dance > svg[data-is-pressed="false"] {
    filter: grayscale(1) invert(1);
}

.pmw-keyboard-dance > svg[data-is-pressed="true"][data-direction="left"], .pmw-keyboard-dance > svg[data-is-pressed="true"][data-direction="right"] {
    filter: hue-rotate(240deg);
}

.pmw-keyboard-shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
    gap: 8px;
}

.pmw-keyboard-shortcut {
    border-radius: var(--radius);
    border: var(--border);
    padding: 8px;
}

.pmw-keyboard-shortcut-title {
    font-size: 0.9em;
}

.pmw-keyboard-shortcut-key-text {
    opacity: 0.8;
    font-size: 0.8rem;
    margin: 0 0.5em;
}