.mylists-container {
    // box-shadow: 0px 0px 10px #0005;
    border-radius: var(--radius);
    padding: 16px;
    background: var(--bgcolor1);
}

.mylist-title-addingtitle-videotitle {
    font-weight: bold;
}

.mylist-item-container {
    > .mylist-item {
        background: var(--bgcolor2);
        transition: var(--transition-normal);
        padding: 10px 12px;
        margin-bottom: 8px;
        border: var(--border);
        border-radius: var(--radius);
        width: 100%;
        color: var(--textcolor1);
        text-align: left;
        line-height: 1.4rem;

        &[data-added="false"] {
            cursor: pointer;

            &:hover {
                background: var(--hover1);
            }
        }

        &[data-added="true"] {
            background: var(--bgcolor1);
        }

        .mylist-desc {
            opacity: 0.8;
            font-size: 0.8rem;
        }

        svg {
            width: 1.25em;
            height: 1.25em;
            vertical-align: text-top;
        }

        .mylist-description-count {
            opacity: 0.8;
        }

        .mylist-title, .mylist-description {
            display: flex;
            gap: 0.25em;
        }
    }
}

.mylist-item-container[data-is-compact="true"] {
    .mylist-item {
        display: flex;
        justify-content: space-between;
    }
}