.video-action-mylists-outercontainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5em;
    z-index: 2;
    display: none;
}

.video-action-mylists-outercontainer[is-open="true"] {
    display: block;
}

.mylists-container {
    //box-shadow: 0px 0px 10px #0005;
    border-radius: var(--radius);
    padding: 16px;
    background: var(--bgcolor1);
}

.mylist-title-addingtitle-videotitle {
    font-weight: bold;
}

.mylist-item-container {
    > .mylist-item {
        background: var(--bgcolor2);
        transition: var(--transition-normal);
        padding: 10px 12px;
        margin-bottom: 8px;
        border: var(--border);
        border-radius: var(--radius);
        width: 100%;
        cursor: pointer;
        color: var(--textcolor1);
        text-align: left;
        line-height: 1.4rem;
        &:hover {
            background: var(--hover1);
        }
        .mylist-desc {
            opacity: 0.8;
            font-size: 0.8rem;
        }
        svg {
            height: 1em;
            width: 1.2em;
            vertical-align: middle;
        }
    }
}
