.taginfo-container {
    border-radius: var(--radius);
    padding: 16px;
    background: var(--bgcolor1);
    display: flex;
    flex-direction: column;
}

.taginfo-tag {
    background: var(--bgcolor2);
    border-radius: var(--radius);
    border: var(--border);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taginfo-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taginfo-tag-dict-summary {
    font-size: 0.8rem;
    background: var(--bgcolor1);
    padding: 8px;
    border-radius: var(--radius);
    color: var(--textcolor2);
}

.taginfo-tag-title {
    display: flex;
    align-items: center;
}

.taginfo-tag-title-left {
    flex: 1;
}

.taginfo-tag-title svg {
    width: 1.2em;
    height: 1.2em;
}

.taginfo-tag-name {
    font-weight: bold;
}

.taginfo-tag-link {
    text-decoration: none;
    color: var(--textcolor2);
    background: none;
    border-radius: var(--radius);
    display: inline-block;
    padding: 2px 4px;
    font-size: 0.9rem;
    border: none;
    transition: var(--transition-normal);

    &:hover {
        color: var(--textcolor1);
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.taginfo-tag-videolinks {
    display: flex;
    gap: 4px;

    a {
        color: inherit;
        background: var(--bgcolor1);
        padding: 4px 8px;
        border-radius: var(--radius);
        font-size: .8rem;
    }

    svg {
        height: 1.25em;
        width: 1.25em;
    }
}