.videoaction-actiontitle {
    align-items: center;
    padding: 4px 0;
    line-height: 1.4rem;
    margin-bottom: 8px;

    .videoaction-actiontitle-subtitle {
        font-size: 0.8rem;
        opacity: 0.8;
    }
}
