.seriesinfo-container {
    overflow: hidden;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}

.seriesinfo-content {
    grid-template: "tmb tit" max-content "eps eps" 1fr "fir fir" max-content / max-content 1fr;
    padding: var(--info-block-padding);
    background: var(--bgcolor2);
    border-radius: var(--radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    gap: calc(var(--info-block-padding) / 2);
    display: grid;
}

.seriesinfo-thumbnail-wrapper {
    grid-area: tmb;
    height: 3.5rem;
}

.seriesinfo-content .seriesinfo-thumbnail {
    height: 100%;
    border-radius: var(--radius-mini);
}

.seriesinfo-title {
    grid-area: tit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.seriesinfo-title a {
    text-decoration: none;
    color: var(--textcolor1) !important;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
        color: var(--linktext1) !important;
    }
}

.seriesinfo-seriestext {
    opacity: 0.8;
    font-size: 0.8em;
    line-height: 2em;

    svg {
        height: 2em;
        width: 1.5em;
        vertical-align: bottom;
    }
}

.seriesinfo-right {
    height: fit-content;
    align-self: center;
}

.seriesinfo-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px 0;
    display: block;
}

.seriesinfo-first {
    grid-area: fir;
    display: flex;
    justify-content: right;
    align-items: center;

    .info-card {
        height: auto;
        display: flex;
    }

    .info-card-thumbnail, .info-card-subtitle, .info-card-content-title, .info-card-playingtext {
        display: none;
    }

    .draggable-infocard-wrapper {
        background: var(--accent1);
        border: var(--border);
        border-radius: var(--radius);
        font-size: 0.9rem;
        padding: 2px 4px;
        transition: var(--transition-normal);

        &:hover {
            background: var(--hover1);
        }
    }
}

.seriesinfo-episodes {
    grid-area: eps;

    .info-card {
        background: var(--bgcolor1);
        border: var(--border);
        padding: 8px;
    }

    .info-card-datacolumn {
        gap: 0;
    }

    .draggable-infocard-wrapper {
        flex: 1;

        &:first-child {
            margin-bottom: 8px;
        }
    }

    .seriesinfo-title a {
        font-size: 1.4rem;
    }

    .info-card-playingtext {
        display: block;
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: var(--textcolor2) !important;
    }

    .info-card-title, .info-card-subtitle {
        font-size: 0.9rem;

        span svg {
            height: 1.2rem;
            width: 1rem;
            vertical-align: bottom;
        }
    }

    .info-card-subtitle {
        font-size: 0.8rem;
    }
}

.seriesinfo-no-video {
	background: var(--bgcolor1);
	border-radius: var(--radius);
	border: 1px solid var(--bgcolor2);
	padding: 4px;
	color: var(--textcolor3);
}

.seriesinfo-first .seriesinfo-no-video {
    padding: 8px 12px;
}

.seriesinfo-episodes .seriesinfo-no-video {
    flex: 1;
    height: calc(4rem + 16px);
    padding: 8px;
}

.watch-container[data-use-card-recommend="false"] { 
    .seriesinfo-content {
        grid-template: "tmb tit fir" max-content "eps eps eps" 1fr / max-content max-content 1fr;
    }

    .seriesinfo-episodes {
        display: flex;
        overflow: hidden;
        gap: calc(var(--info-block-padding) / 2);
        font-size: 0.9rem;
        justify-content: center;

        .draggable-infocard-wrapper {
            overflow: hidden;
            margin-bottom: 0;
        }
    }
}

.seriesinfo-noseries {
    background: var(--bgcolor2);
    padding: 16px;
    border-radius: var(--radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.watch-container[data-use-card-recommend="true"] {
    .seriesinfo-container {
        min-height: 320px;
    }

    .seriesinfo-content {
        position: absolute;
        inset: 0;
    }
}