html.ReShogi-Enabled:not([class*="PMDMP-"]) body {
    /* 基本背景色 */
    --bgcolor1: #f8f8fa;

    /* サブ背景色1 */
    --bgcolor2: #fff;

    /* サブ背景色2 */
    --bgcolor3: #e7e7e7;
    --bgcolor4: #c7c7c7;
    --bgcolorab: rgba(#fafafa, 0.25);
    --bgcoloraw: rgba(#0a0a0a, 0.25);
    --textcolor1: #111;
    --textcolor2: #333;
    --textcolor3: #555;
    --textcolornew: #e05050;
    --accent1: #ddd;
    --accent2: #bababa;
    --hover1: #f0f0f0;
    --hover2: #d0d0d0;
    --linktext1: #008cff;
    --linktext2: #4ac3ff;
    --linktext3: #5e9fc0;
    --nicoru1: rgb(201 168 62 / 10%);
    --nicoru2: rgb(201 168 62 / 20%);
    --nicoru3: rgb(201 168 62 / 35%);
    --nicoru4: rgb(201 168 62 / 50%);
    --dangerous1: rgb(245 71 71);
    --likecolor: #F58;
    --likebg: #fff1f5;
}

html.ReShogi-Enabled:not([class*="PMDMP-"]) {
    --hrjk-logo-filter: brightness(0.973);
}

html.ReShogi-Enabled.PMDMP-pmcolor {
    --hrjk-logo-filter: brightness(0.86) invert(1);
}

html.ReShogi-Enabled.PMDMP-spcolor {
    --hrjk-logo-filter: brightness(0.9) invert(1);
}

html.ReShogi-Enabled.PMDMP-black {
    --hrjk-logo-filter: brightness(1) invert(1);
}

html.ReShogi-Enabled {
    --navbar-logo-url: url("https://resource.video.nimg.jp/web/images/logo/logo_nicovideo_white.svg");
}

html.ReShogi-Enabled:not([class*="PMDMP-"]), html.ReShogi-Enabled.PMDMP-light, html.ReShogi-Enabled.PMDMP-nordlight {
    --navbar-logo-url: url("https://resource.video.nimg.jp/web/images/logo/logo_nicovideo_black.svg");
}