.shogi-body {
    display: flex;
    flex-direction: column;
}

.shogi-video-count {
    display: inline-flex;
    align-items: center;
    margin-right: 0.25em;
}

.shogi-yorokobi-message {
    text-align: center;
    font-weight: bold;
    background: var(--bgcolor2);
    font-size: 1.25rem;
    margin: 1rem 0;
    padding: 8px;
    line-height: 1.25em;
}

.shogi-yorokobi-submessage {
    font-weight: normal;
    font-size: 0.9rem;
}

.shogi-type-selector-button {
    background: var(--bgcolor2);
    color: var(--textcolor1);
    border: var(--border);
    border-radius: var(--radius);
    padding: 4px 8px;
    transition: var(--transition-normal);
    text-decoration: none;
    font-size: 0.9rem;
    &[aria-disabled="true"] {
        opacity: 0.3;
    }
    &:not([aria-disabled="true"]):not([data-is-active="true"]):hover {
        background: var(--hover1);
        cursor: pointer;
    }
    &[data-is-active="true"] {
        background: var(--textcolor1);
        color: var(--bgcolor1);
    }
}

.shogi-loading {
    text-align: center;
    padding: 16px;
    min-height: 80vh;
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: bold;
}

.shogi-pagetop-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 16px;
    background: var(--bgcolor1);
    color: var(--textcolor1);
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
    padding: 4px 8px;
    &:hover {
        background: var(--hover1);
    }
    svg {
        vertical-align: text-bottom;
        height: 2em;
        width: 2em;
    }
}