.watch-container[watch-type="rerekari"] {
    .videoinfo-container, .seriesinfo-container, .seriesinfo-content {
        box-shadow: none;
        border: none;
        background: transparent;
    }
    .searchbox-container {
        box-shadow: none;
        background: transparent;
    }
    .recommend-selector {
        justify-content: center;
    }
}