.applet-container {
    width: min(40rem, 90vw);
    max-height: min(30rem, 80vh);
    overflow: auto;

    &.mylist-add-alert {
        max-height: min(30rem, 80vh);
    }
}

.applet-subtitle {
    padding-bottom: 16px;
    color: var(--textcolor2);
    position: sticky;
    top: 0;
    background: linear-gradient(var(--bgcolor1) 75%, transparent);
    z-index: 1001;
}