.generic-optionselector {
    display: flex;
    gap: 8px;
}

.generic-sortkey-selector {
    border: var(--border);
    border-radius: var(--radius);
    background: var(--bgcolor2);
    color: var(--textcolor1);
    padding: 4px;
}

.generic-option-switcher {
    &[aria-disabled="true"] {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }
}

.generic-option-switcher button {
    background: var(--bgcolor2);
    border: var(--border);
    color: var(--textcolor1);
    padding: 4px 8px;
    transition: var(--transition-normal);

    &:hover {
        background: var(--hover1);
    }
}

.generic-option-switcher button svg {
    height: 1.25rem;
}

.generic-option-switcher button:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
}

.generic-option-switcher button:last-child {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.generic-option-switcher button[data-is-active="true"] {
    background: var(--textcolor1);
    color: var(--bgcolor1);
}