html.PMW-Enabled {
    @import "../Global/baseUI.styl"
    @import "./watchUI.styl"
    @import './styleModules/**/*.styl'
}

html.PMW-Enabled:not([class*="PMDMP-"]) body {
    /* 基本背景色 */
    --bgcolor1: #f8f8fa;
    /* サブ背景色1 */
    --bgcolor2: #fff;
    /* サブ背景色2 */
    --bgcolor3: #e7e7e7;
    --bgcolor4: #c7c7c7;
    --bgcolorab: rgba(#fafafa, 0.25);
    --bgcoloraw: rgba(#0a0a0a, 0.25);
    --textcolor1: #111;
    --textcolor2: #333;
    --textcolor3: #555;
    --textcolornew: #e05050;
    --accent1: #ddd;
    --accent2: #bababa;
    --hover1: #f0f0f0;
    --hover2: #d0d0d0;
    --linktext1: #008cff;
    --linktext2: #4ac3ff;
    --linktext3: #5e9fc0;
    --nicoru1: rgba(201,168,62,0.1);
    --nicoru2: rgba(201,168,62,0.2);
    --nicoru3: rgba(201,168,62,0.35);
    --nicoru4: rgba(201,168,62,0.5);
    --dangerous1: rgb(245, 71, 71);
    --likecolor: #FF5588;
    --likebg: #fff1f5;
}


html.PMW-Enabled:not([class*="PMDMP-"]) .container.fullscreen, html.PMW-Enabled.PMDMP-light .container.fullscreen, html.PMW-Enabled.PMDMP-nordlight .container.fullscreen {
    --bgcolor1: #252525;
    --bgcolor2: #333;
    --bgcolor3: #666;
    --bgcolor4: #aaa;
    --textcolor1: #fff;
    --textcolor2: #ddd;
    --textcolor3: #aaa;
    --accent1: #444;
    --accent2: #888;
    --hover1: #666;
    --hover2: #aaa;
    --linktext1: #8fb9df;
    --linktext2: #8ed9ff;
    --linktext3: #008acf;
    --likecolor: #f68;
    --likebg: #502834;
    --border: var(--border-width) var(--border-style) #444;
    color: var(--textcolor1);
}

html.PMW-Enabled:not([class*="PMDMP-"]) {
    --hrjk-logo-filter: brightness(0.973);
}
html.PMW-Enabled.PMDMP-pmcolor {
    --hrjk-logo-filter: brightness(0.86) invert(1);
}
html.PMW-Enabled.PMDMP-spcolor {
    --hrjk-logo-filter: brightness(0.9) invert(1);
}
html.PMW-Enabled.PMDMP-black {
    --hrjk-logo-filter: brightness(1) invert(1);
}

html.PMW-Enabled {
    --navbar-logo-url: url(https://resource.video.nimg.jp/web/images/logo/logo_nicovideo_white.svg)
}

html.PMW-Enabled:not([class*="PMDMP-"]), html.PMW-Enabled.PMDMP-light, html.PMW-Enabled.PMDMP-nordlight {
    --navbar-logo-url: url(https://resource.video.nimg.jp/web/images/logo/logo_nicovideo_black.svg)
}