.useritem-wrapper {
    display: flex;
    gap: 16px;
    padding: 8px;
    border-bottom: var(--border);
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.useritem-icon {
    height: 7rem;
    border-radius: var(--radius);
}

.useritem-datacolumn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.useritem-nickname {
    font-size: 1.2rem;
    font-weight: bold;
}

.useritem-strippeddesc {
    opacity: 0.8;
    font-size: 0.9rem;
}

.useritem-count {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5em;
}