.videoitem-wrapper {
    position: relative;
    background: none;
    border-bottom: var(--border);
    border-radius: 0;
}

.videoitem-wrapper .info-card {
    --thumb-height: 6rem;

    gap: 12px;
    padding: 14px;

    .info-card-title {
        font-size: 1.2rem;
        font-weight: bold;
        -webkit-line-clamp: 1;
        grid-row: 1/2;
    }

    .info-card-desc {
        grid-row: 2/3;
    }

    .info-card-counts {
        grid-row: 3/4;
        grid-column: 1/2
    }

    .info-card-subtitle {
        grid-row: 1/4;
    }

    .info-card-title, .info-card-subtitle {
        line-height: 1.5rem;
    }

    .info-card-counts svg {
        height: 1.25em;
        vertical-align: top;
    }
}

.videoitem-owner-icon {
    height: 2rem;
    border-radius: 1024px;
    vertical-align: middle;
    margin-right: 0.5em;
}

.videoitem-owner {
    text-decoration: none;
    pointer-events: auto;
    display: block;

    /* margin-top: 1rem; */
    width: max-content;
    max-width: 100%;
    padding: 4px 8px 4px 4px;
    border-radius: var(--radius);
    color: var(--textcolor1);
}

.videoitem-owner:hover {
    background: var(--hover1);
}

.videoitem-count {
    font-size: 0.9rem;
    line-height: 1.2em;
}

.videoitem-wrapper .info-card-datacolumn {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
    width: 100%;
}

.videoitem-wrapper .info-card, .videoitem-wrapper .info-card .info-card-thumbnail {
    overflow: visible;
}