html:not([class*="PMDMP-"]) body {
    /* 基本背景色 */
    --bgcolor1: #f8f8fa;
    /* サブ背景色1 */
    --bgcolor2: #fff;
    /* サブ背景色2 */
    --bgcolor3: #e7e7e7;
    --bgcolor4: #c7c7c7;
    --bgcolorab: rgba(#fafafa, 0.25);
    --bgcoloraw: rgba(#0a0a0a, 0.25);
    --textcolor1: #111;
    --textcolor2: #333;
    --textcolor3: #555;
    --textcolornew: #e05050;
    --accent1: #ddd;
    --accent2: #bababa;
    --hover1: #e0e0e0;
    --hover2: #d0d0d0;
    --linktext1: #008cff;
    --linktext2: #4ac3ff;
    --linktext3: #5e9fc0;
    --nicoru1: rgba(201,168,62,0.1);
    --nicoru2: rgba(201,168,62,0.2);
    --nicoru3: rgba(201,168,62,0.35);
    --nicoru4: rgba(201,168,62,0.5);
    --dangerous1: rgb(245, 71, 71);
    --likecolor: #FF5588;
    --likebg: #fff1f5;
}


html:not([class*="PMDMP-"]) .container.fullscreen, html.PMDMP-light .container.fullscreen, html.PMDMP-nordlight .container.fullscreen {
    --bgcolor1: #252525;
    --bgcolor2: #333;
    --bgcolor3: #666;
    --bgcolor4: #aaa;
    --textcolor1: #fff;
    --textcolor2: #ddd;
    --textcolor3: #aaa;
    --accent1: #444;
    --accent2: #888;
    --hover1: #666;
    --hover2: #aaa;
    --linktext1: #8fb9df;
    --linktext2: #8ed9ff;
    --linktext3: #008acf;
    --likecolor: #f68;
    --likebg: #502834;
    --border: var(--border-width) var(--border-style) #444;
    color: var(--textcolor1);
    --modal-background: var(--bgcolor2);
}

html:not([class*="PMDMP-"]) {
    --hrjk-logo-filter: brightness(0.973);
}
html.PMDMP-pmcolor {
    --hrjk-logo-filter: brightness(0.86) invert(1);
}
html.PMDMP-spcolor {
    --hrjk-logo-filter: brightness(0.9) invert(1);
}
html.PMDMP-black {
    --hrjk-logo-filter: brightness(1) invert(1);
}

html {
    --navbar-logo-url: url(https://resource.video.nimg.jp/web/images/logo/logo_nicovideo_white.svg)
}

html:not([class*="PMDMP-"]), html.PMDMP-light, html.PMDMP-nordlight {
    --navbar-logo-url: url(https://resource.video.nimg.jp/web/images/logo/logo_nicovideo_black.svg)
}

@import './styleModules/**/*.styl'

body {
    --radius: 6px;
    --radius-mini: 4px;
    --radius-big: 8px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--accent1);
    --border: var(--border-width) var(--border-style) var(--border-color);
    --box-shadow-width: 4px;
    --box-shadow-color: #0001;
    --box-shadow: 0 0 var(--box-shadow-width) var(--box-shadow-color);
    --modal-background: var(--bgcolor2);
    --info-block-padding: 16px;
    --info-block-gap: 10px;
    --blocks-gap: 8px;
    --transition-normal: background 0.1s ease, color 0.1s ease;
    // font-family を Stylus-langが正しく解釈しないようなので、@cssを使う
    font-family: @css{Avenir, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, "Noto Sans JP", "IBM Plex Sans JP", sans-serif};
    line-height: 1.5;
    text-autospace: no-autospace;
}

body {
    background: var(--bgcolor1);
    color: var(--textcolor1);
    margin: 0;
}

a {
    color: var(--linktext1)
}

.container {
    margin: 0 auto;
    //overflow: scroll;
    button, input, select, textarea {
        font-family: inherit;
    }
}
.container.fullscreen {
    overflow: hidden;
}
.global-flex {
    display: flex
    .global-flex1 {
        flex: 1
    }
}
.global-bold {
    font-weight: bold;
}