// ここにあるやつはネストで何かしらのhtml.-Enabled系のクラス内に入ることを想定しています

@import './styleModules/**/*.styl'

body {
    --radius: 6px;
    --radius-mini: 4px;
    --radius-big: 8px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--accent1);
    --border: var(--border-width) var(--border-style) var(--border-color);
    --box-shadow-width: 4px;
    --box-shadow-color: #0001;
    --box-shadow: 0 0 var(--box-shadow-width) var(--box-shadow-color);
    --modal-background: var(--bgcolor2);
    --info-block-padding: 16px;
    --blocks-gap: 8px;
    // font-family を Stylus-langが正しく解釈しないようなので、@cssを使う
    font-family: @css{Avenir, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, sans-serif};
    line-height: 1.5;
}

body {
    background: var(--bgcolor1);
    color: var(--textcolor1);
    margin: 0;
}

a {
    color: var(--linktext1)
}

.container {
    margin: 0 auto;
    //overflow: scroll;
    button, input, select, textarea {
        font-family: inherit;
    }
}
.container.fullscreen {
    overflow: hidden;
}
.global-flex {
    display: flex
    .global-flex1 {
        flex: 1
    }
}
.global-bold {
    font-weight: bold;
}